* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
  background-color: rgb(236, 236, 236);
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  color: gray;
}
.contact__form input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 20px;
  font-size: 15px;
}
.submit__btn{
border-radius: 20px;
color: black;
margin-top: 8px;
padding: 10px;
background-color: #00aeef;
font-size: 16px;
border: none;
cursor: pointer;
}
